* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
	height: 100%;
}
body {
	background-color: #ececec;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.main {
	width: 350px;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.24);
	margin-left: 3em;
}

.output {
	height: 140px;
	line-height: 140px;
	text-align: right;
	padding-right: 30px;
	font-size: 40px;
	color: black;
	overflow-x: auto;
	overflow-y: hidden;
}

.calBody button {
	width: 72px;
	height: 72px;
	margin: 5px;
	background-color: transparent;
	font-size: 20px;
	cursor: pointer;
	transition: 50ms all ease;
	outline: none;
	/* now it won't show the outline on Click */
	transform: scale(1);
	font-weight: 600;
	border: none;
}


/* hover effect for the buttons */

.calBody button:hover {
	background: rgb(234, 244, 255);
}

.calBody button:active {
	transform: scale(0.9);
	border-radius: 10px;
}

.calBody {
	background: rgb(145, 215, 255);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#steps {
	font-family: monospace
}

.historyContainer {
	padding: 1em;
}

#history {
	margin-bottom: 1em
}

#history p {
	padding-top: 1em;
	font-weight: 600;
	font-size: 20px;
}